/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadorTernario/nbproject/private/
/OperadorLogicos/nbproject/private/
/OperadorLogicos/build/
/CalculadoraIdadeSwing/nbproject/private/
/CalculadoraIdadeSwing/build/
/Genio/nbproject/private/
/Genio/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/EstruturaCondicionalProgramaIdade/nbproject/private/
/EstruturaCondicionalProgramaIdade/build/
/EstruturaCondicionalParImpar/nbproject/private/
/EstruturaCondicionalParImpar/build/
/TelaEquacao/nbproject/private/
/TelaEquacao/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/SwitchCase/nbproject/private/
/SwitchCase/build/
/SwingTriangulo/nbproject/private/
/SwignTriangulo/nbproject/private/
/SwignTriangulo/build/
/EstruturaRepeticao/nbproject/private/
/EstruturaRepeticao/build/
/SwingEstruturaRepeticao/nbproject/private/
/SwingEstruturaRepeticao/build/
/SwingEstuturaCondicional/nbproject/private/
/SwingEstuturaCondicional/build/
/EstruturaRepeticaoTestenoFinal/nbproject/private/
/EstruturaRepeticaoTestenoFinal/build/
/testerepeticao/nbproject/private/
/testerepeticao/build/
/exerciciorepeticao/nbproject/private/
/TelaPronta/nbproject/private/
/TelaPronta/build/
/For/nbproject/private/
/For/build/
/SwingFor/nbproject/private/
/SwingFor/build/
/Vetores/nbproject/private/
/Vetores/build/
/Vetores02/nbproject/private/
/Vetores02/build/
/Vetores03/nbproject/private/
/Vetores03/build/
/Vetores04/nbproject/private/
/Vetores04/build/
/Vetores05/nbproject/private/
/Vetores05/build/
/JavaApplication40/nbproject/private/
/SwingVetores/nbproject/private/
/SwingVetores/build/
